@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,600&family=Nunito&display=swap');


body{
  font-family: 'Montserrat', sans-serif;;
}

*{
  margin: 0px;
  padding: 0px;
}

:root{
  /* color */
  --colorPrimary:#0D263B;
  --colorSecondary: #696969;

  /* background */
--backgroundPrimary:#0061DF;

/* padding */

--padding:0 130px;

}

.subTitle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;

color: #0D263B
}
.inline{
  display: flex;
  overflow: hidden;
  white-space: wrap;
}
.info{
  
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

margin-top:4px;
/* Text / Color */

color: #696969;
}